# Live Assignment 3
## DS 6001: Practice and Application of Data Science
### Drew Haynes (rbc6wr)

In this live coding session we will access three different datasets which we can access on the internet without having to supply any API keys or other credentials (we'll cover APIs with credentials next week).

The goal is to examine the structure of the data, decide what is metadata and what constitutes the content of the dataframe we are trying to build, and to use the various tools available to us to convert the data to a pandas dataframe in our Python environment.

We'll work on the following three examples together:

Cocktail recipes from The Cocktail DB: http://www.thecocktaildb.com/api/json/v1/1/filter.php?c=Cocktail
The published works of J.K. Rowling from OpenLibrary.org: https://openlibrary.org/authors/OL23919A/works.json
Data on the pages on Wikipedia that pop up when searching for the term "Virginia": https://en.wikipedia.org/w/api.php?action=query&list=search&srsearch=Virginia&format=json&srlimit=500
(This search gets the first 500 hits, but there are 210391 results. If time, we will use the sroffset parameter described in the API documentation to get the full list)

In [6]:
import numpy as np
import pandas as pd
import json
import requests

### Example 1

In [18]:
url = "https://www.thecocktaildb.com/api/json/v1/1/filter.php?c=Cocktail"
r = requests.get(url, headers = {'User-agent': 'rbc6wr@virginia.edu'})
r 
# 200 In general:
# 2xx are "positive" transactions
# 3xx are redirects
# 4xx are client errors (your fault)
# 5xx are server errors (their fault)

In [9]:
r.text

'{"drinks":[{"strDrink":"155 Belmont","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/yqvvqs1475667388.jpg","idDrink":"15346"},{"strDrink":"57 Chevy with a White License Plate","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/qyyvtu1468878544.jpg","idDrink":"14029"},{"strDrink":"747 Drink","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/i9suxb1582474926.jpg","idDrink":"178318"},{"strDrink":"9 1\\/2 Weeks","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/xvwusr1472669302.jpg","idDrink":"16108"},{"strDrink":"A Gilligan\'s Island","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/wysqut1461867176.jpg","idDrink":"16943"},{"strDrink":"A True Amaretto Sour","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/rptuxy1472669372.jpg","idDrink":"17005"},{"strDrink":"A.D.M. (After Dinner Mint)","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/ruxuvp1472669600.jpg","idDrink":"14560"},{"strDrink":"A1","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/2x8thr1504816928.jpg","idDrink":"17222"},{"strDrink":"Abbey Martini","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/2mcozt1504817403.jpg","idDrink":"17223"},{"strDrink":"Absolut Summertime","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/trpxxs1472669662.jpg","idDrink":"14107"},{"strDrink":"Absolutely Fabulous","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/abcpwr1504817734.jpg","idDrink":"17224"},{"strDrink":"Absolutly Screwed Up","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/yvxrwv1472669728.jpg","idDrink":"16134"},{"strDrink":"Ace","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/l3cd7f1504818306.jpg","idDrink":"17225"},{"strDrink":"Adam & Eve","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/vfeumw1504819077.jpg","idDrink":"17226"},{"strDrink":"Addington","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/ib0b7g1504818925.jpg","idDrink":"17227"},{"strDrink":"Addison","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/yzva7x1504820300.jpg","idDrink":"17228"},{"strDrink":"Addison Special","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/4vo5651493068493.jpg","idDrink":"14272"},{"strDrink":"Adios Amigos Cocktail","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/8nk2mp1504819893.jpg","idDrink":"17229"},{"strDrink":"Afterglow","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/vuquyv1468876052.jpg","idDrink":"12560"},{"strDrink":"Alice Cocktail","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/qyqtpv1468876144.jpg","idDrink":"12562"},{"strDrink":"Amaretto fizz","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/92h3jz1582474310.jpg","idDrink":"178321"},{"strDrink":"Aperol Spritz","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/iloasq1587661955.jpg","idDrink":"178325"},{"strDrink":"Apple Highball","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/66mt9b1619695719.jpg","idDrink":"178353"},{"strDrink":"Apple Karate","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/syusvw1468876634.jpg","idDrink":"12564"},{"strDrink":"Applejack","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/sutyqp1479209062.jpg","idDrink":"16311"},{"strDrink":"Aquamarine","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/zvsre31572902738.jpg","idDrink":"178319"},{"strDrink":"Arizona Stingers","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/y7w0721493068255.jpg","idDrink":"14584"},{"strDrink":"Arizona Twister","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/ido1j01493068134.jpg","idDrink":"17074"},{"strDrink":"Army special","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/55muhh1493068062.jpg","idDrink":"17066"},{"strDrink":"Autumn Garibaldi","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/ne7re71604179012.jpg","idDrink":"178337"},{"strDrink":"Aviation","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/trbplb1606855233.jpg","idDrink":"17180"},{"strDrink":"Bahama Mama","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/tyb4a41515793339.jpg","idDrink":"17267"},{"strDrink":"Banana Cream Pi","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/m5p67n1582474609.jpg","idDrink":"178320"},{"strDrink":"Bee\'s Knees","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/tx8ne41582475326.jpg","idDrink":"178317"},{"strDrink":"Bijou","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/rysb3r1513706985.jpg","idDrink":"17254"},{"strDrink":"Blue Hurricane","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/nwx02s1515795822.jpg","idDrink":"17268"},{"strDrink":"Blueberry Mojito","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/07iep51598719977.jpg","idDrink":"178336"},{"strDrink":"Bombay Cassis","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/h1e0e51510136907.jpg","idDrink":"17242"},{"strDrink":"Bora Bora","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/xwuqvw1473201811.jpg","idDrink":"12572"},{"strDrink":"Boulevardier","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/km84qi1513705868.jpg","idDrink":"17251"},{"strDrink":"Bounty Hunter","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/t8bgxl1596018175.jpg","idDrink":"178331"},{"strDrink":"Brigadier","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/nl89tf1518947401.jpg","idDrink":"17825"},{"strDrink":"Broadside","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/l2o6xu1582476870.jpg","idDrink":"178311"},{"strDrink":"Brooklyn","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/ojsezf1582477277.jpg","idDrink":"178310"},{"strDrink":"Butterfly Effect","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/ht3hnk1619704289.jpg","idDrink":"178356"},{"strDrink":"Captain Kidd\'s Punch","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/d83spj1596017390.jpg","idDrink":"178329"},{"strDrink":"Cherry Electric Lemonade","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/tquyyt1451299548.jpg","idDrink":"17174"},{"strDrink":"Cocktail Horse\\u2019s Neck","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/4vobt21643844913.jpg","idDrink":"178369"},{"strDrink":"Corn n Oil","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/pk6dwi1592767243.jpg","idDrink":"17830"},{"strDrink":"Corpse Reviver","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/gifgao1513704334.jpg","idDrink":"17250"},{"strDrink":"Cosmopolitan","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/kpsajh1504368362.jpg","idDrink":"17196"},{"strDrink":"Cosmopolitan Martini","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/upxxpq1439907580.jpg","idDrink":"14133"},{"strDrink":"Cream Soda","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/yqstxr1479209367.jpg","idDrink":"14608"},{"strDrink":"Dark Caipirinha","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/uwstrx1472406058.jpg","idDrink":"17177"},{"strDrink":"Death in the Afternoon","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/y7s3rh1598719574.jpg","idDrink":"178334"},{"strDrink":"Dirty Martini","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/vcyvpq1485083300.jpg","idDrink":"17181"},{"strDrink":"Dry Martini","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/6ck9yi1589574317.jpg","idDrink":"11005"},{"strDrink":"Duchamp\'s Punch","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/g51naw1485084685.jpg","idDrink":"17182"},{"strDrink":"Elderflower Caipirinha","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/dif7a31614006331.jpg","idDrink":"178346"},{"strDrink":"Empell\\u00f3n Cocina\'s Fat-Washed Mezcal","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/osgvxt1513595509.jpg","idDrink":"17246"},{"strDrink":"Espresso Martini","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/n0sx531504372951.jpg","idDrink":"17212"},{"strDrink":"Espresso Rumtini","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/acvf171561574403.jpg","idDrink":"178309"},{"strDrink":"Figgy Thyme","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/pbw4e51606766578.jpg","idDrink":"178344"},{"strDrink":"Flaming Lamborghini","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/yywpss1461866587.jpg","idDrink":"16485"},{"strDrink":"French Martini","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/clth721504373134.jpg","idDrink":"17213"},{"strDrink":"French Negroni","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/x8lhp41513703167.jpg","idDrink":"17248"},{"strDrink":"Fros\\u00e9","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/b4cadp1619695347.jpg","idDrink":"178352"},{"strDrink":"Funk and Soul","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/qtv83q1596015790.jpg","idDrink":"178328"},{"strDrink":"Gagliardo","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/lyloe91487602877.jpg","idDrink":"12758"},{"strDrink":"Garibaldi Negroni","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/kb4bjg1604179771.jpg","idDrink":"178340"},{"strDrink":"Gimlet","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/3xgldt1513707271.jpg","idDrink":"17255"},{"strDrink":"Gin and Soda","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/nzlyc81605905755.jpg","idDrink":"178342"},{"strDrink":"Gin Basil Smash","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/jqh2141572807327.jpg","idDrink":"178314"},{"strDrink":"Gin Lemon","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/yhzvk91643821739.jpg","idDrink":"178366"},{"strDrink":"Gin Rickey","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/s00d6f1504883945.jpg","idDrink":"17230"},{"strDrink":"Gin Tonic","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/qcgz0t1643821443.jpg","idDrink":"178365"},{"strDrink":"Greyhound","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/g5upn41513706732.jpg","idDrink":"17252"},{"strDrink":"Honey Bee","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/vu8l7t1582475673.jpg","idDrink":"178316"},{"strDrink":"Hot Toddy","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/ggx0lv1613942306.jpg","idDrink":"178345"},{"strDrink":"Hunter\'s Moon","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/t0iugg1509556712.jpg","idDrink":"17239"},{"strDrink":"Imperial Cocktail","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/bcsj2e1487603625.jpg","idDrink":"12706"},{"strDrink":"Irish Curdling Cow","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/yrhutv1503563730.jpg","idDrink":"16987"},{"strDrink":"Jitterbug","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/wwqvrq1441245318.jpg","idDrink":"16178"},{"strDrink":"Kiwi Martini","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/bmxmyq1630407098.jpg","idDrink":"178359"},{"strDrink":"Lazy Coconut Paloma","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/rytuex1598719770.jpg","idDrink":"178335"},{"strDrink":"Lemon Drop","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/mtpxgk1504373297.jpg","idDrink":"14366"},{"strDrink":"Lemon Elderflower Spritzer","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/125w0o1630407389.jpg","idDrink":"178360"},{"strDrink":"Malibu Twister","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/2dwae41504885321.jpg","idDrink":"15224"},{"strDrink":"Mango Mojito","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/wfqmgm1630406820.jpg","idDrink":"178358"},{"strDrink":"Manhattan","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/yk70e31606771240.jpg","idDrink":"11008"},{"strDrink":"Martinez 2","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/fs6kiq1513708455.jpg","idDrink":"17256"},{"strDrink":"Martinez Cocktail","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/wwxwvr1439906452.jpg","idDrink":"11720"},{"strDrink":"Martini","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/71t8581504353095.jpg","idDrink":"11728"},{"strDrink":"Mary Pickford","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/f9erqb1504350557.jpg","idDrink":"17188"},{"strDrink":"Miami Vice","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/qvuyqw1441208955.jpg","idDrink":"13936"},{"strDrink":"Michelada","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/u736bd1605907086.jpg","idDrink":"178343"},{"strDrink":"Midnight Mint","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/svuvrq1441208310.jpg","idDrink":"14842"},{"strDrink":"Mojito","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/metwgh1606770327.jpg","idDrink":"11000"},{"strDrink":"Mojito Extra","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/vwxrsw1478251483.jpg","idDrink":"15841"},{"strDrink":"Mountain Bramble","strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/stwiva1619704025.jpg","idDrink":"178355"}]}'

In [15]:
my_json = json.loads(r.text) #loads, load, dumps, dump - The 's' stands for from a string, alternatively load from a file
my_json['drinks'][0]

{'strDrink': '155 Belmont',
 'strDrinkThumb': 'https://www.thecocktaildb.com/images/media/drink/yqvvqs1475667388.jpg',
 'idDrink': '15346'}

In [17]:
pd.json_normalize(my_json, record_path = ['drinks']) 
#Alternatively 
pd.json_normalize(my_json['drinks'])

,strDrink,strDrinkThumb,idDrink
0,155 Belmont,https://www.thecocktaildb.com/images/media/dri...,15346
1,57 Chevy with a White License Plate,https://www.thecocktaildb.com/images/media/dri...,14029
2,747 Drink,https://www.thecocktaildb.com/images/media/dri...,178318
3,9 1/2 Weeks,https://www.thecocktaildb.com/images/media/dri...,16108
4,A Gilligan's Island,https://www.thecocktaildb.com/images/media/dri...,16943
...,...,...,...
95,Michelada,https://www.thecocktaildb.com/images/media/dri...,178343
96,Midnight Mint,https://www.thecocktaildb.com/images/media/dri...,14842
97,Mojito,https://www.thecocktaildb.com/images/media/dri...,11000
98,Mojito Extra,https://www.thecocktaildb.com/images/media/dri...,15841
99,Mountain Bramble,https://www.thecocktaildb.com/images/media/dri...,178355

### Example 2

In [57]:
url = 'https://openlibrary.org/authors/OL23919A/works.json'

In [58]:
r = requests.get(url, headers = {'User-agent': 'rbc6wr@virginia.edu'})
r

In [59]:
my_json = json.loads(r.text) 
dict(list(my_json.items())[:2])

{'links': {'self': '/authors/OL23919A/works.json',
  'author': '/authors/OL23919A',
  'next': '/authors/OL23919A/works.json?offset=50'},
 'size': 296}

In [60]:
pd.json_normalize(my_json, record_path = ['entries']).head(3)

,description,title,covers,subject_places,subjects,subject_people,key,authors,subject_times,latest_revision,...,type.key,created.type,created.value,last_modified.type,last_modified.value,subtitle,description.type,description.value,links,excerpts
0,The Eighth Story. Nineteen Years Later. Based ...,Harry Potter and the Cursed Child,"[8763851, 9326661, 10551120]",[London],"[Drama, Fantasy, Magic, Juvenile Drama, Good a...","[Harry Potter, Hermine Granger, Ron Weasly]",/works/OL17360811W,"[{'type': {'key': '/type/author_role'}, 'autho...",[1996],26,...,/type/work,/type/datetime,2016-08-11T18:54:46.688344,/type/datetime,2022-01-20T23:00:57.123004,NaN,NaN,NaN,NaN,NaN
1,NaN,Garri Potter I Prokliatoe Ditia,NaN,NaN,NaN,NaN,/works/OL25352276W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,3,...,/type/work,/type/datetime,2021-09-29T00:46:55.304886,/type/datetime,2022-01-20T23:00:57.123004,NaN,NaN,NaN,NaN,NaN
2,NaN,Harry Potter et l'Enfant Maudit,[12023661],NaN,NaN,NaN,/works/OL25434568W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,3,...,/type/work,/type/datetime,2021-09-30T07:26:12.434275,/type/datetime,2022-01-20T23:00:57.123004,NaN,NaN,NaN,NaN,NaN

In [61]:
# Only getting the first author
my_json['entries'][0]['authors'][0]['author']['key']

'/authors/OL5231739A'

In [62]:
# list comprehension
x = [1,2,3,4,5]
[j**2 - 1 for j in x] # j is a generic element of the list 'x'

[0, 3, 8, 15, 24]

In [67]:
[b['authors'][0]['author']['key'] for b in my_json['entries']][:10]

['/authors/OL5231739A',
 '/authors/OL5231739A',
 '/authors/OL23919A',
 '/authors/OL23919A',
 '/authors/OL23919A',
 '/authors/OL23919A',
 '/authors/OL23919A',
 '/authors/OL23919A',
 '/authors/OL23919A',
 '/authors/OL23919A']

### Example 3

In [46]:
url = 'https://en.wikipedia.org/w/api.php?action=query&list=search&srsearch=Virginia&format=json&srlimit=500'

In [47]:
r = requests.get(url, headers = {'User-agent': 'rbc6wr@virginia.edu'})
r

In [52]:
my_json = json.loads(r.text) 
dict(list(my_json.items())[:2])

{'batchcomplete': '', 'continue': {'sroffset': 500, 'continue': '-||'}}

In [53]:
pd.json_normalize(my_json, record_path = ['query','search']).head(3)

,ns,title,pageid,size,wordcount,snippet,timestamp
0,0,Virginia,32432,287333,24894,"<span class=""searchmatch"">Virginia</span> (/və...",2022-02-08T14:38:38Z
1,0,"Virginia Beach, Virginia",91239,106993,9468,"<span class=""searchmatch"">Virginia</span> Beac...",2022-01-30T18:28:40Z
2,0,West Virginia,32905,183397,17295,"West <span class=""searchmatch"">Virginia</span>...",2022-02-07T15:47:00Z

In [69]:
#srlimit = Number of elements
#sroffset = What rank to start at